<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<textarea class="textarea" placeholder="Enter text ..." style='width: 100%;height: 300px'></textarea>

<script type="text/javascript">
  $('.textarea').wysihtml5({toolbar: { color: true } });
</script>