<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<textarea id="some-textarea" style="width: 810px; height: 200px;" placeholder="Enter text ...">
  <b>This is some previous text</b>
</textarea>

<script type="text/javascript">
  $('#some-textarea').wysihtml5({
  	"font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
  	"emphasis": true, //Italics, bold, etc. Default true
  	"lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
  	"html": false, //Button which allows you to edit the generated HTML. Default false
  	"link": true, //Button to insert a link. Default true
  	"image": false, //Button to insert an image. Default true,
  	"color": false //Button to change color of font
  });
</script>
